@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  box-sizing: border-box;
}

html {
    background: url('../../../../assets/banner-hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 545px;
    width: 100%;
    background-position: center;
    max-width: 1920px;
    margin: auto;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1920px;
    margin: auto;
    margin-top: 2%;
}

.title {
/* width: 40%;
height: 23px; */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 22.861px;
line-height: 23px;
color: rgba(29, 6, 5, 0.9);
}

.biggerTitle {
    width: 468px;
    height: 86px;
/* width: 70%;
height: 86px; */

}

.subtitle {
/* width: 415px;
height: 32px; */
color: rgba(29, 6, 5, 0.69);
font-family: 'Lato';
font-style: normal;
/* font-weight: 400;
font-size: 22.861px;
line-height: 32px; */
}

.text {
    background-color: #F59A1B;
     padding: 5px; 
     border-radius: 10px; 
    color: rgb(106,59,13);
    /* font-weight:900; */
    font-family: Lato;
    font-style: normal;
}

.buyButton {
    background-color: #F43127;
    text-decoration: none;
    border: none;
    padding: 10.1605px 20.3209px;
    width: 198.64px;
    height: 52.32px;
    border-radius:  5.08px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    /* font-weight: 700;
    font-size: 22.861px; */
}

/* Card de informações extras */

.extraInfo {
margin-top: 12.5%;
align-self: center;
display: flex;
min-width: 970px;
max-width: 970px;
/* width: 100%; */
height: 118.54px;
background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
border-radius: 0.8rem;
}

.icons {
display: flex;
}

.iconTitle {
font-family: 'Lilita One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px; 
text-transform: uppercase;
color: rgba(29, 6, 5, 0.9);
text-transform: uppercase;
width: 150px; 
margin-bottom: -5px; 
text-align: left;
}

.iconDisplay {
 margin-left: 7px; 
display: flex;
 width: 200px; 
flex-direction: column;
    justify-content: left;
    justify-items:start;
    border-right: 1px solid rgba(73, 46, 21, 0.15);
     margin-bottom: 10px; 
}

.iconInfo {
text-align: left;
font-family: 'Lato';
font-style: normal;
 font-weight: 400;
font-size: 16px;
line-height: 19px; 
color: rgba(29, 6, 5, 0.69);

opacity: 0.6;
}

/* #burg {
     margin-left: 20px; 
} */

.iconImg{
     margin-left: 20px;
     margin-right: 20px; 
}

#deliverySpeed {
    border: none;
}

/* @media screen and (max-width:1775px){

} */


/* @media screen and (max-width:1600px){
  
} */

@media screen and (max-width:1300px){  
    .biggerTitle {
        width: 425px;
        height: 68px
    
    }   

    .extraInfo {
        margin-top: 30%;
        flex-direction: column;
        height: 100%;
        width: 355px;
        min-width: 355px; 
        max-width: 355px;
        align-self: flex-start;
        }

        .iconDisplay {
            border-right: 0;
               border-bottom: 1px solid rgba(73, 46, 21, 0.15);

           }
}


@media screen and (max-width:1170px){
    html {
        background: url('../../../../assets/Bannermobile.png');
        background-size: cover;
        height: fit-content;
        background-repeat: no-repeat;
    }

    .flexContainer  {
        padding-top: 2rem;
        width: 50%;
        margin: auto;
       }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
    }
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .buyButton {
        width: 40%;
        margin-top: 1rem;
        margin: auto;
    }
}

