
.navbar  {
display: flex;
justify-content: space-evenly;
align-items: center;
top: 0;
width: 100%;
max-width: 1920px;
margin: auto;
height: 63.87px;
gap: 1%;
background: rgba(59, 32, 11, 0.05);
backdrop-filter: blur(10px);
}

.cent {
    display: flex;
    gap: 4%;
}
/* first part */

/* https://khaledkzy.github.io/pixel-vh-vw-converter/ */
.logo {
/* position: absolute;
left: 20%;
top: 14.84px; */
width: 264.69px;
height: 35.19px;
}


/* second part */
.iconsNav {
  align-items: center;
  display: flex;
  gap: 8px;
}

/* .home {
font-family: 'Lato';
font-style: normal;

width: fit-content;


} */
.alignNav {
    display: flex;
    justify-content: space-evenly;
width: 50%;
}

.items {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #635352;
    cursor: pointer;
    text-decoration: none;
}


.items:hover{
color: #34201F;
font-weight: 700;
}


/* third part */
.thirdPart {
    display: flex;
    /* padding-right: 12%; */
    align-items: center;
    gap: 3%;
}

 .ifood {
/* width: 1.9vw;
height: 1vw; */
}

.instagram {
/* width: 1.9vw;
height: 1.9vw; */
} 

.barra {
/* height: 3.4vw; */
border: 1px solid #B50B04;
}

 .telefone {
    /* width: 10vw;
    height: 2.5vw; */
} 


.mobileMenu {
    display: none;
}

.buttonIcon {
    padding: 0;
text-decoration: none;
border: none;
}

.iconMenu {
    display: none;
    width: 30px;
    height: 30px;
}


@media screen and (max-width:1920px){
    .comentario {
        
    }
}

/* @media screen and (max-width:1775px){
    .navbar {
        justify-content: space-evenly;
    }
} */

@media screen and (max-width:1400px){
    .navbar {
        justify-content: space-around;
    }
}

@media screen and (max-width:1300px){  
    .navbar {
        justify-content: space-evenly;
    }
   .icons{
        display: none;
    }
    .items {
        display: none;
    } 
    .menu-icon {
        display: block;
    }

}

@media screen and (max-width:950px){
    .navbar {
        align-items: center;
    }
 .logo {
    position: relative;
    margin-left:3%;
    left: 0;
    top:0;
 }   
.thirdPart {
    display: none;
}
.iconMenu {
    display: block;
    position: absolute;
    top:28%;
    left: 85%;
}    
}


